/*Projeto Cardapio*/

@import url('https://fonts.googleapis.com/css2?family=Jost:ital@1&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Jost", sans-serif;
}

body {
    height: 100vh;
}
#capa {
    margin-top: 150px;
   margin-left: 180px;
}
header {
    background-color: #f5efe1;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-size: cover;
}

header h1 {
    font-size: 70px;
    color: #733f23;
    font-family: "Nanum Gothic", sans-serif;
}

#menu {
    background-color: #733f23;
    display: flex;
    justify-content: center;
}

#menu ul {
    list-style: none;
}

#menu ul li {
    display: inline;
}

#menu ul li a {
    display: inline-block;
    padding: 10px 20px;
    color: #f5efe1;
}

#menu ul li a:hover {
    background-color: #733f23;
}

#parte1 {
    height: auto;
    background-color: #c38e70; /* Adicionado a cor de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    height: 450px;
    width: 300px;
    border: 3px solid #8a5a44;
    padding: 5px;
    margin: 40px 70px 10px;
    border-radius: 10px;
    background-color: #733f23;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    color: #f5efe1;
    overflow: hidden;
    padding-top: 30px;
    height: auto;
    text-align: left;
    font-size: 12px;
    margin-bottom: 50px;
}

.card h2 {
    margin-bottom: 5px;
    margin-top: 2px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px #f5efe1;
}

.hidden-text.left-align {
    display: none;
    text-align: left;
}

.card:hover .hidden-text {
    display: block;
    text-align: left;
}

.card .hidden-text {
    position: relative;
    text-align: left;
}

.card .hidden-text .hoverable {
    display: inline-block;
    position: relative;
    transition: transform 0.3s;
    transform: translateZ(0);
}

.card .hidden-text .hoverable:hover {
    transform: scale(1.1) translateZ(0);
}

.card .hidden-text .price {
    transition: transform 0.3s;
    transform: translateZ(0);
}

.card .hidden-text .price:hover {
    transform: scale(1.1) translateZ(0);
}

.card .hidden-text .hoverable:hover+.price {
    display: inline;
}

.card figure {
    width: 230px;
    height: 230px;
    background-color: #f5efe1;
    border-radius: 10px;
}

.card figure img {
    width: 100%;
    border-radius: 10px;
    height: 100%;
}

#parte1, #parte2, #parte3, #parte4 {
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#parte2 {
    background-image: linear-gradient(to bottom, #c38e70, #b07d62);
}

#parte3 {
    background-image: linear-gradient(to bottom, #b07d62, #9d6b53);
}

#parte4 {
    background-image: linear-gradient(to bottom, #9d6b53, #8a5a44);
}

#rodape {
    background-color: #733f23;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 230px;
    font-family: 'Jost', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    color: aliceblue;
    width: 90%;
    max-width: 1200px;
}

.contato,
.horario,
.redes-sociais {
    flex: center;
    font-family: 'Jost', sans-serif;
    margin-left: 40px;
    margin: 25px;
}

.redes-sociais ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.redes-sociais ul li {
    margin-bottom: 10px;
}

.redes-sociais ul li a {
    color: #fff;
    text-decoration: none;
}

.redes-sociais ul li a:hover {
    text-decoration: underline;
    margin-right: 10px;
}

.direitos-autorais {
    text-align: center;
    color: aliceblue;
    padding-top: 20px;
    font-family: Arial, sans-serif;
    font-size: 20px;
}
.direitos-autorais p {
    font-size: 14px; /* Defina o tamanho da fonte desejado */
}


#rodape h3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
}

#rodape p {
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-family: 'Nanum Gothic', sans-serif;
}

.card {
    transition: transform 0.8s;
}

.card:hover {
    transform: scale(1.09);
}

.card .hidden-text {
    display: none;
    text-align: left;
}

.card:hover .hidden-text {
    display: block;
}

.card:hover > figure {
    transform: scale(1.03);
}
.#linha_topo {
    
}